Q1 How can we store a single quote (‘) as a string in a var1able?

In [1]:
my_variable = "This is a single quote: '"

In [2]:
my_variable = 'This is a single quote: \''

In [3]:
my_variable = '''This is a string with a single quote: ' inside it.'''

Q2.  Refer the below variable:
x = ‘a(
Here, is x a character type or string type variable? Support your answer with an explanation.

In [6]:
x = 'a'  # Now x is a string containing the character 'a'

x is a string type variable, not a character type variable. In Python, a single character is represented as a string of length 1.

Here's why x is considered a string:

It is enclosed within single quotes ('). In Python, single quotes are used to define string literals.

The value assigned to x is 'a(', which is a string of length 2, not just a single character.

So, x is a string variable containing the characters 'a' and '('. If you want to work with a single character as a string, you can create a string with just that character, like this:

Q3.  Apply the follow1ng funct1ons on th1s var1able: ‘Welcome to Python foun at1on course'
SP f1n (0
.P count(0
?P len(0
P Concatenat1on
Note: You can use your cho1ce of parametersQ But make sure 1t 1s correct.

In [9]:
text = 'Welcome to Python foundation course'
index = text.find('Python')
print(index)

11

In [8]:
text = 'Welcome to Python foundation course'
count = text.count('o')
print(count)

6

In [10]:
text = 'Welcome to Python foundation course'
length = len(text)
print(length)

35

In [11]:
text1 = 'Welcome to Python'
text2 = ' foundation course'
result = text1 + text2
print(result)

Welcome to Python foundation course

Q4.  For the var1able: wor = ‘PanaJ1@T//56(
Calculate the follow1ng:
(a) Total number of alphabets 1n lowercase
(b) Total number of alphabets 1n uppercase
(c) Total number of numer1cal 1n str1ng

In [12]:
wor = 'PanaJ1@T//56('
lowercase_count = 0
uppercase_count = 0
numerical_count = 0

for char in wor:
    if char.islower():
        lowercase_count += 1
    elif char.isupper():
        uppercase_count += 1
    elif char.isdigit():
        numerical_count += 1

print("Total number of lowercase alphabets:", lowercase_count)
print("Total number of uppercase alphabets:", uppercase_count)
print("Total number of numerical characters:", numerical_count)

Total number of lowercase alphabets: 3
Total number of uppercase alphabets: 3
Total number of numerical characters: 3

Q5. Wr1te a co e to store a numer1cal value 1ns1 e a var1able then convert 1t 1nto str1ngQ

In [14]:
# Store a numerical value in a variable
number = 42

# Convert the numerical value to a string
number_as_string = str(number)

# Check the type to verify it's a string
print(type(number_as_string))  # Output: <class 'str'>

<class 'str'>